{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
    <h1 style="text-align:center; color:#933939;">Avis index</h1>

    <table class="table" style="margin: 0 auto;">
        <thead>
        <tr>
            <th>Id</th>
            <th>Commentaire</th>
            <th>Note</th>
            <th>CreatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.commentaire }}</td>
                <td>{{ avi.note }}</td>
                <td>{{ avi.createdAt ? avi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_avis_show', {'id': avi.id}) }}" style="color:#933939;">show</a>
                    <a href="{{ path('app_admin_avis_edit', {'id': avi.id}) }}" style="color:#933939;">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" style="text-align:center;">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_avis_new') }}" style="display:block; text-align:center; color:#933939;">Create new</a>
{% endblock %}
