{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div>
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ reclamation.Titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.Description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reclamation.Date ? reclamation.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ reclamation.State }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_index') }}">back to list</a>

    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>

    {{ include('reclamation/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
