{% extends 'base.html.twig' %}

{% block title %}
	Reservation Booking
{% endblock %}

{% block body %}
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<td class="order_review">
						<div class="heading_s1">
							<h4>Your Orders</h4>
						</div>
						<div class="table-responsive order_table">
							<table class="table">
								<thead>
								<tr>
									<th>Reservation</th>
									<th>Total</th>
								</tr>
								</thead>
							{{ form_start(form) }}
								<tbody>
							<div class="form-group">
								{{ form_label(form.evenement) }}
								{{ form_widget(form.evenement, {'attr': {'class': 'form-control', 'placeholder': 'Event Name'}}) }}
								{{ form_errors(form.evenement) }}
							</div>
							<div class="form-group row">
								<td>x 1</td>
							</div>
							<div class="form-group row">
								<td>50.00 Dt</td>
							</div>
								</tbody>
							<div class="form-group">
								<button type="submit" class="btn btn-fill-out btn-block" name="register">Book Reservation</button>
							</div>

							{{ form_end(form) }}
							</table>
						</div>
					</td>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
