{% extends 'base.html.twig' %}

{% block title %}Expertise{% endblock %}
{% block breadcrumb %}Expertise{% endblock %}
{% block breadcrumb2 %}Expertise{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        {% for blog in blogs %}
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="blog_post blog_style2 box_shadow1">
                    <div class="blog_img">
                        <a href="#">
                            <img src="../assets2/images/pein.jpg" alt="pein.jpg" style="width:200px ;">
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                        <div class="blog_text">
                            <h6 class="expertise_title"><a href="{{ path('app_blog_show', {'id': blog.id}) }}">{{ blog.getEtiquette() }}</a></ h6>
                            <ul class="list_none blog_meta">
                                <li>{{ blog.getTitre() }}</li>
                                <li>{{ blog.getArtiste() }}</li>
                                <li>{{ blog.getContenu() }}</li>
                                <li>{{ blog.getEtiquette() }}</li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        {% else %}
            <tr>
                <td colspan="7">no posts found</td>
            </tr>
        {% endfor %}

        {% endblock %}
