
{% extends 'base.html.twig' %}

{% block body %}
    <div class="blog-details">
        <h2>{{ blog.titre }}</h2>
        <p>Artiste: {{ blog.artiste }}</p>
        <p>Contenu: {{ blog.contenu }}</p>
        <p>Produit: {{ blog.produit }}</p>
    </div>
    {% for message in app.flashes('error') %}
        {{ message }}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}