{% extends 'baseback.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <h1 style="text-align: center; color: #933939;">User index</h1>

    <table class="table" style="margin: 0 auto;">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>IsVerified</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr style="vertical-align: middle;">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" style="color: #933939;">show</a>

                </td>
            </tr>
        {% else %}
            <tr style="vertical-align: middle;">
                <td colspan="4" style="text-align: center;">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_user_new') }}" style="display: block; text-align: center; color: #933939;">Create new</a>
{% endblock %}

