{% extends 'base.html.twig' %}

{% block title %}
    Enchere | List
{% endblock %}
{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive wishlist_table">
                         <table class="table">
                            <thead>
                            <tr>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Starting Price</th>
                                <th class="product-price">Final Price</th>
                                <th class="product-stock-status">Winner</th>
                                <th class="product-add-to-cart"></th>
                                <th class="product-price">Bet</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for enchere in encheres%}
                                <td class="product-name" data-title="Product">Pot O' Gold</td>
                                <td class="product-price" data-title="PriceInit">{{ enchere.prixInitiale }}</td>
                                <td class="product-price" data-title="Price">{{ enchere.prixFinale }}</td>
                                <td class="product-stock-status" data-title="Stock Status"><span class="badge badge-success">Nada</span></td>
                                <td class="product-add-to-cart"><a href="{{ path('app_enchere_edit', {'id': enchere.id}) }}" class="btn btn-fill-out"><i class="ti-pencil"></i> Edit </a></td>

                                <td class="product-price"><a href="{{ path('app_mise_new', {'id': enchere.id}) }}" class="btn btn-fill-out"><i class="ti-money"></i> Bet </a></td>
                                <td> {{ include('enchere/_delete_form.html.twig') }} </td>
                            </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}