{% extends 'base.html.twig' %}

{% block title %}
	New Bet
{% endblock %}

{% block body %}
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="table-responsive shop_cart_table">
						<table class="table">
							<thead>
							<tr>
								<th class="product-thumbnail"> </th>
								<th class="product-name">Product</th>
								<th class="product-price">Starting Price</th>
								<th class="product-quantity">Bet</th>
								<th class="product-subtotal">Final Price</th>
								<th class="product-remove">Remove</th>
								<th class="product-price"></th>
							</tr>
							</thead>
							<tbody>
							<tr>
								{{ form_start(form) }}
								<div class="form-group row">
									<td></td>
								</div>
								<div class="form-group row">
									<td>Pot O' Gold</td>
								</div>
								<td>
									<div class="form-group">

										{{ form_widget(form.enchere, {'attr': {'class': 'form-control', 'placeholder': 'Event Name'}}) }}
										{{ form_errors(form.enchere) }}
									</div>
								</td>
								<td class="product-quantity" data-title="Quantity">
									<div class="quantity">
										<input type="button" value="-" class="minus" data-price="{{ enchere.prix_initiale }}" {% if enchere.prix_initiale == enchere.prix_finale %} disabled {% endif %}>
										<input type="text" name="quantity" value="0" title="Qty" class="qty" size="4">
										<input type="button" value="+" class="plus" data-price="{{ enchere.prix_initiale + 50 }}">
									</div>
								</td>
								<td class="product-subtotal" data-title="Total">{{ enchere.prix_initiale }}</td>
								<td class="product-remove" data-title="Remove"><a href="#"><i class="ti-close"></i></a></td>
								<td>
									<div class="form-group">
										<button type="submit" class="btn btn-fill-out btn-block" name="register"><a href="{{ path('app_mise_index') }}">Place Bet</a></button>
									</div>
								</td>
								{{ form_end(form) }}
							</tr>

							</tbody>

						</table>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script>
		var betQuantity = document.querySelector('input[name="quantity"]');
		var plusButton = document.querySelector('input.plus');
		var minusButton = document.querySelector('input.minus');
		var finalPrice = document.querySelector('td.product-subtotal');
		var startingPrice = Number('{{ enchere.prix_initiale }}');
		var maxPrice = Number('{{ enchere.prix_finale }}');

		function updatePrice() {
			var totalBet = parseInt(betQuantity.value) * 50;
			var newPrice = startingPrice + totalBet;
			finalPrice.textContent = newPrice;
		}

		betQuantity.addEventListener('change', updatePrice);
		betQuantity.addEventListener('keyup', updatePrice);

		plusButton.addEventListener('click', function() {
			var newQuantity = parseInt(betQuantity.value) + 1;
			if (newQuantity * 50 + startingPrice <= maxPrice) {
				betQuantity.value = newQuantity;
				updatePrice();
			}
		});

		minusButton.addEventListener('click', function() {
			var newQuantity = parseInt(betQuantity.value) - 1;
			if (newQuantity >= 0) {
				betQuantity.value = newQuantity;
				updatePrice();
			}
		});

		var placerMiseButton = document.createElement('button');
		placerMiseButton.textContent = 'Placer mise';
		placerMiseButton.classList.add('btn', 'btn-fill-out');
		placerMiseButton.addEventListener('click', function() {
			// Code to handle placing the bet
		});

		var productAddToCartCell = document.querySelector('.product-add-to-cart');
		productAddToCartCell.appendChild(placerMiseButton);
	</script>

{% endblock %}
